.main{
   
   margin: 0;
    padding: 0;
    text-align: center;
    background:linear-gradient(rgba(92, 192, 10, 0.5),rgba(0,0,50,0.5)),url("Images/cc1.jpg");
        background-size:cover;
        background-position:center;
        font-family:sans-serif;
}

.nav{
    
	margin:0 auto;
	padding:105px 0 0;
	height:60px;
	float:right;
}

.nav ul{
    
    list-style:none;
    padding:0;
    height:60px;
    float:left;
}

.nav ul li {
	margin:0;
	padding:0;
	float:left;
	
}

.nav ul li a {
	display:block;
	margin:0;
	padding:24px 48px 0 16px;
	height:36px;
	font-size:15px;
	line-height:1px;
	font-weight:normal;
	color:#575757;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
}

